<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You Page</title>
    <link rel="stylesheet" href="/static/css/thank_you.css">
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="thank-you-message">
                <h1>Thank You!</h1>
                <p>Your Order has been received.</p>
                <p>We appreciate your feedback.</p>
            </div>
        </div>
    </div>
</body>
</html>
